{
	"htmlWhitespaceSensitivity": "ignore",
	"bracketSameLine": true,
	"useTabs": true,
	"singleAttributePerLine": true,
	"semi": true,
	"tabWidth": 4,
	"printWidth": 120,
	"singleQuote": true,
	"trailingComma": "es5",
	"bracketSpacing": true,
	"arrowParens": "avoid",
	"jsxSingleQuote": true
}
